bin/
cffi/
cffi-2.0.0.dist-info/
charset_normalizer/
charset_normalizer-3.4.7.dist-info/
cryptography/
cryptography-49.0.0.dist-info/
pdfminer/
pdfminer_six-20260107.dist-info/
pdfplumber/
pdfplumber-0.11.10.dist-info/
pillow-12.3.0.dist-info/
pycparser/
pycparser-3.0.dist-info/
pypdfium2/
pypdfium2-5.11.0.dist-info/
pypdfium2_raw/
pypdfium2_cfg/
pypdfium2_cli/
*.pyd
*.exe
.streamlit/secrets.toml
**/secrets.toml